/* *** CSS-File of 'GameField' *** */
.game-field-container {
  position: relative;
  top: -20px;
}
/* Style of the main board */
.game-field {
  margin-top: 0px; /* Distance to the upper side */
}

/* Style of the x-Axis */
.x-axis {
  display: flex;
  justify-content: space-between;
  padding-top: 20px; /* Distance between the axis and game field */
} 

  /* Style of the y-Axis */
.y-axis {
  position: absolute;
  left: -40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 0px; /* Distance between the axis and game field */
}

.y-axis div {
  display: flex;
  align-items: center;
  height: calc(100% / 10);
}

