
/* *** Style of 'GameField' *** */
.game-field-container {
  display: flex;  
  position: relative;   
  width: 700px;
  height: 700px;
  background-color: rgb(176, 175, 175);
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  margin-left: 20vw;
}

/* *** Style of the x-Axis *** */
.x-axis {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: space-between;
  flex-direction: row; 
  top: 93%;
} 

/* *** Style of the y-Axis *** */
.y-axis {
  position: absolute;
  left: 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.y-axis div {
  display: flex;
  align-items: center;
  height: calc(100% / 10);
}

.dnd-container {
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  /* margin-top: 10vh; */
}

@media (min-height: 1000px) {
  .dnd-container {
    flex-direction: column; /* Vertikale Anordnung */
    align-items: center;
    justify-content: center;
  }

  .game-field-container {
    order: 1; /* Die Hauptkomponente zuerst anzeigen */
    margin-left: 0vw;
  }

  .figure-storage {
    order: 2; /* Die Seitenkomponente danach anzeigen */
  }
}