/* *** CSS-File of 'GameLogo' *** */
.game-logo{
    font-family: 'Young Serif', serif;
    color: black;
    position: relative;
    /* display: flex; */
    text-align: center;
    justify-content: center;
    align-items: flex-start;
    margin-top: 1vh;
    margin-bottom: 1vh;
}
