
 @media (max-height: 1000px) {
   .ui-container {
      left: 7%;
   }

   @media (min-width: 1400px) {
    .ui-container {
      right: 3%;
    }
   } 
   @media (min-width: 1600px) {
     .ui-container {
       left: 5%;
     } 
   } 

   @media (min-width: 2200px) {
      .ui-container {
        right: 2%;
        left: 4%;
      }
    } 
 } 
 @media (min-width: 1400px) {
  .ui-container {
    right: 3%;
  }
 } 
 @media (min-width: 1700px) {
   .ui-container {
     right: 2%;
   } 
 } 
