/* *** Style of 'FigureStorage' *** */
.figure-storage {
    max-height: 170px;
    overflow-y: auto; 
    width: 650px;
    justify-content: center;
    gap: 5px;
    align-items: center;
    margin-top: 20px;
    border: 1px solid black;
  }

  .scrollspy-example{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 5px;
  }
  /* *** If the viewport height is equal or lower than 1000 px *** */
  @media (max-height: 1000px) {
    .figure-storage { 
        margin: auto;
        position: relative;
        max-height: 340px;
        overflow-y: auto; 
        width: 250px;
        margin-top: 360px;
        margin-left: 20px;
        border: 1px solid black;
    }
  }
  